{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block head_title %}Welcome! {% endblock %}

{% block jambotron %}
    Hi
    {{ block.super }}
{% endblock %}

{% block content %}

    <div class="row">
        <div class="col-md-4 col-sm-6">
            <form method="POST" action="">
                {% csrf_token %}
                {{ form|crispy }}
                <input class="btn btn-primary" type="submit" value="Sign Up">
            </form>
        </div>
    </div>

{% endblock %}